.info-section{
    border: 2px solid var(--card-border);
    margin: 48px 40px;
    padding: 36px 18px;
    border-radius: 24px;
}

.is-heading{
    font-size: 46px;
    font-weight: 700;
    padding: 12px;
    margin-bottom: 36px;
    text-align: center;
}


.is-items-container{
    display: flex;
    justify-content: space-around;
}

.heading{
    font-size: 55px;
}