.trending-nfts{
    padding: 100px 0px;
    position: relative;
}

.tn-title{
    font-size: 46px;
    font-weight: 700;
    padding: 24px;
    margin-bottom: 36px;
    text-align: center;
}

.tn-r-bg-blob{
    height: 380px;
    width: 390px;
    background-color: rgb(90, 18, 158);
    filter: blur(160.58px);
    position: absolute;
    z-index: -99;
    left: 40%;
    transform: translate(-100);
}

.tn-btn{
    margin-top: 36px;
}

.seemore-btn{
    font-size: 14px;
    border-color: --gradient-1;
    border: solid;
    
}